.details-container{
    padding: 0 100px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.ProjectDetails_heading {
    font-size: 65px;
}
.ProjectDetails_description {
    font-size: 20px;
}
.ProjectDetails_sub-header {
    font-size: 32px;
}


