.details-container{
    padding: 0 100px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.ProjectDetails_heading {
    font-size: 65px;
}
.ProjectDetails_description {
    font-size: 20px;
}
.ProjectDetails_sub-header {
    font-size: 32px;
}
.go-back {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: rgba(20,20,20,.788);
    padding: 14px 18px;
    color: #fbfcd5;
    font-size: 16px;
    border-radius: 8px;
    letter-spacing: 6px;
    font-weight: 700;
    text-transform: uppercase;
}


