.hero-area{
    height: 100vh;
    width: 100vh;
    margin: 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-left{

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: green; */
}
.hero-text{
    text-transform: uppercase;
}
.hero-right{
    
}
.hero-text{

}
.media-container{
    display: flex;
}
.social-media{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid floralwhite;
    position: relative;
}
.social-media svg{
    /* font-size: 10px; */
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-50%,50%);
}
.hero-btn{
    display: flex;
    align-items: center;
    text-transform: uppercase;

}
.btn-text{
    position: relative;
    z-index: 6;
}
.btn-text::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: forestgreen;
    z-index: -2;
}
.btn-text:hover .btn-text::before{
    width: 550px;
}








