.about-area{
    margin: 0 40px;
    display: flex;

}

.about-left{
    width: 40%;
    margin-right: 20%;
}
.about-right{
    position: relative;
    width: 40%;
    height: 330px;
    background-color: yellow;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

}
/* .about-right img{
    width: 100%;
} */
/* .about-right::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

} */